style {
    @import url('https://fonts.googleapis.com/css?family=Lora');
}
body {
    text-align: center;
    background: #2c3338;
    font-family: sans-serif;
    margin: 0px;
}
p {
    text-align: center;
    color: aquamarine;
    font-size: 30px;
    animation-duration: 2s;
    animation-name: RightToLeft;
}
a{
    text-decoration: none;
    color: black;
}
ul {
    background-color: #9ec34b;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 40px;
}
ul li {
    display: inline-block;
    padding: 9px 15px;
    margin: 0px;
    float: right;
    text-align: center;
}
#logout {}
#logout::before,
#logout::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}
#logout,
#logout::before,
#logout::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
#logout {
    border-right: 3px solid #FFF;
    border-left: 1px solid #FFF;
}
#logout:hover {
    background-color: #fff;
    border-color: #FFF;
    color: #59b1eb;
}
#name {}
#name::before,
#name::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}
#name,
#name::before,
#name::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}
#name {
    border-right: 2px solid #FFF;
    border-left: 3px solid #FFF;
}
#name:hover {
    background-color: #fff;
    border-color: #FFF;
    color: #59b1eb;
}
#count {
    font-size: 2em;
    color: #FFF;
    background: transparent;
    border-left: solid 5px #2093fc;
    text-align: left;
}
#level {
    font-size: 1.5em;
    color: #FFF;
    background: transparent;
    text-align: left;
}
#question {
    text-align: center;
    display:inline-block;
    margin:auto;
    color: #FFF;
    position: relative;
    padding: 1em 1em;
    border-top: solid 2px #9ec34b;
    border-bottom: solid 2px #9ec34b;
}
#question:before,
#question:after {
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #9ec34b;
}
#question:before {
    left: 10px;
}
#question:after {
    right: 10px;
}
#pochi {
    text-align: center;
}
#pochi form .button {
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    height: 50px;
    text-align: center;
    background-color: #9ec34b;
    font-size: 16px;
    line-height: 52px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #9ec34b;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 2em;
}
@keyframes RightToLeft {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.main2{
    padding:0;
    margin: 0;
}
h1 {
    text-align: center;
    color: #ffffff;
    animation-duration: 4s;
    animation-name: RightToLeft;
    font-size: 65px;
    font-family: 'Lora', serif;
}

.main2 #nextbtn {
    padding: 15px 37px;
    color: #FFF;
    background-color: #9ec34b;
    border: none;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 0 1px #9ec34b;
    top: 0;
}
.main2 #resultbtn {
    padding: 15px 37px;
    color:#FFF;
    background-color: #9ec34b;
    border: none;
    margin: 50px auto 80px auto;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 1px #9ec34b;
}
#ocha{
    text-align: center;
}
.main1 #marubtn {
    animation-duration: 1.5s;
    animation-name: RightToLeft;
    padding: 15px 37px;
    background-color: #FE2E9A;
    display: inline-block;
    border: none;
    margin-right: 30px;
    font-size: 3em;
    border-radius: 3px;
    box-shadow: 0 1px #FE2E9A;
    top: 0;
    transition: .2s all;
}
.main1 #marubtn:hover {
    top: -3px;
    box-shadow: 5px 5px #ff79bf;
}
.main1 #batsubtn {
    animation-duration: 1.5s;
    animation-name: RightToLeft;
    padding: 15px 37px;
    background-color: #0677de;
    display: inline-block;
    border: none;
    margin-left: 30px;
    font-size: 3em;
    border-radius: 3px;
    box-shadow: 0 1px #0677de;
    top: 0;
    transition: .2s all;
}
.main1 #batsubtn:hover {
    top: -3px;
    box-shadow: 5px 5px #4f95d4;
}
#otin{
    padding: 0;
    margin: 0;
}
#otin #result{
    font-size: 65px;
    margin-top: 1em;
    margin-bottom: 0;
    padding: 0;
}
/*正解不正解の色を分ける際に使う
#otin #result .correct{
    color: #9883f4;
    font-size: 90px;
    padding: 0px;
    margin: 0px;
}
#otin #result .incorrect{
    color: #9883f4;
    font-size: 90px;
    padding: 0px;
    margin: 0px;
}
*/
