@keyframes RightToLeft {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
p {
    text-align: center;
    color: aquamarine;
    font-size: 30px;
    animation-duration: 4s;
    animation-name: RightToLeft;
}
ul {
    background-color: #9ec34b;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 40px;
}
ul li {
    display: inline-block;
    width: 7em;
    padding: 9px;
    margin: 0px;
    float: right;
    text-align: center;
}
body {
    text-align: center;
    background: #2c3338;
    font-family: sans-serif;
    margin: 0px;
}
#pochi {
    text-align: center;
}
#pochi .button {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    height: 50px;
    color: #FFF;
    background-color: #9ec34b;
    font-size: 16px;
    line-height: 52px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #9ec34b;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 2em;
}
#ranking p {
    text-align: center;
    color: aquamarine;
    font-size: 30px;
    animation-duration: 4s;
    animation-name: RightToLeft;
}
#ranking_table {
    text-align: center;
}
table {
    margin: 0 auto;
    padding: 0 auto;
}
#ranking_table tr,
td {
    color: aquamarine;
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;
}
#ranking_table th {
    width: 130px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    background: #3f3f3f;
    color: #ffffff;
}
#ranking_table td {
    width: 250px;
    padding: 10px;
    vertical-align: top;
}
#ranking_table .mugitya {
    width: 90px;
}
#ranking_table .ryokutya{
    width: 120px;
}
#topbtn button {
    padding: 15px 37px;
    background-color: #9ec34b;
    border: none;
    margin: 1em;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 0 1px #9ec34b;
    top: 0;
}
#gu td{
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 10px;

}
#ki td{
    font-size: 30px;
}
