
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

body {
    background: #2c3338;
    color: #606468;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
    margin: 0;
}

input {
    border: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    padding: 0;
    -webkit-appearance: none;
}

p {
    line-height: 1.5em;
}

after { clear: both; }

#login {
    margin: 50px auto;
    width: 320px;
}

#login form {
    margin: auto;
    padding: 22px 22px 22px 22px;
    width: 100%;
    border-radius: 5px;
    background: #282e33;
    border-top: 3px solid #434a52;
    border-bottom: 3px solid #434a52;
}

#login form span {
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
    border-right: 3px solid #434a52;
    color: #606468;
    display: block;
    float: left;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
}

#login form input[type="text"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    margin: 20px;
    padding: 0 16px;
    width: 235px;
    height: 50px;
}

#login form input[type="password"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    margin: 20px;
    padding: 0 16px;
    width: 235px;
    height: 50px;
}
#login form input[type="submit"] {
    background-color: #9ec34b;
    border-radius: 0px 3px 3px 0px;
    color: #FFF;
    margin: 1em;
    width: 120px;
    height:50px;
    text-align: center;
}
#login form input[type="submit"] {
    background-color: #9ec34b;
    color: #fff !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: 10px 0 10 0;
}
#login form input[type="submit"]:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
#container {
    font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
    text-align: center;
    padding-top: 40px;
}
.login_btn {
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    height:50px;
    text-align: center;
    background-color: #9ec34b;
    font-size: 16px;
    line-height: 52px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #9ec34b;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.login_btn:after{
    width: 100%;
    height: 0;
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    background : #FFF;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: .2s;
    z-index: -1;
}
.login_btn:hover{
    color: #9ec34b;
}
.login_btn:hover:after{
    height: 240%;
    opacity: 1;
}
.login_btn:active:after{
    height: 340%;
    opacity: 1;
}

#login form input[type="button"] {
    background-color: #9ec34b;
    border-radius: 0px 3px 3px 0px;
    color: #FFF;
    margin-bottom: 1em;
    margin: 10px;
    width: 120px;
    height:50px;
    text-align: center;
}
#login form input[type="button"] {
    background-color: #9ec34b;
    color: #fff !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: 10px 0 0 0;
}
#login form input[type="button"]:hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

#login form input#new_submit {
    background-color: #9ec34b;
    border-radius: 0px 3px 3px 0px;
    color: #FFF;
    margin-bottom: 1em;
    margin: 1em;
    width: 230px;
    height:50px;
    text-align: center;
}
#login form input#new_submit  {
    background-color: #9ec34b;
    color: #fff !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: 10px 0 0 0;
}
#login form input#new_submit :hover {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}

div.center {
	text-align: center;
}